<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<link src="style.css">
<body ng-app="myApp" ng-controller="myCtrl">
    <div >
        <p>{{list.name}}</p>
    </div>
    <input type="text" name="search" ng-model="search.name" placeholder="search by name">
    <input type="text" name="search" ng-model="search.alpha3_code" placeholder="search by iso code">
    <table class="table">
        <thead>
          <tr>
            <th>country name</th>
            <th>code 1</th>
            <th>code 2</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="list in country_details.RestResponse.result| filter:search">
            <td>{{list.name}}</td>
            <td>{{list.alpha2_code}}</td>
            <td>{{list.alpha3_code}}</td>
          </tr>
         
        </tbody>
      </table>
</body>
</html>